# AI API Keys
GROQ_API_KEY=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
FRIENDLI_API_KEY=flp_mx3u1Y8Z6V2rOWed1ieTlIa1IkrFxitPYw9qLYIgfxcge7

# YouTube Data API
YOUTUBE_API_KEY=AIzaSyCud6PVlosPvBVIm64OfDvXLUTR8WuTT6A

# Supabase (Optional - for saving user history)
SUPABASE_URL=your_supabase_url_here
SUPABASE_ANON_KEY=your_supabase_anon_key_here

# Next.js
NEXTAUTH_SECRET=your_nextauth_secret_here
NEXTAUTH_URL=http://localhost:3000 